.errmsg{
    color: red;
  }

.app-check{
    height: 20px;
    width: 20px;
    margin: 1%;
  }

  .background1{
    background-image: url('../images/background.jpg');
    height: 100vh;
  }